node-red/flows.json
[{"id":"8f0f695b.3405e8","type":"tab","label":"Motion","disabled":false,"info":""},{"id":"23c58850.213378","type":"tab","label":"switches","disabled":false,"info":""},{"id":"67f9a36c.f4a1fc","type":"subflow","name":"Dimmer Settings","info":"","category":"","in":[{"x":400,"y":80,"wires":[{"id":"67fe2056.d8cd7"}]}],"out":[{"x":620,"y":80,"wires":[{"id":"67fe2056.d8cd7","port":0}]}],"env":[{"name":"Step","type":"num","value":"30"}],"color":"#3FADB5","icon":"node-red/cog.svg"},{"id":"ee8b2209.f1dc1","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"6c1b83ea.339fec","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b56eec32.135088","type":"server","name":"Home Assistant","version":2,"rejectUnauthorizedCerts":false,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"81a8849.12fa778","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"67fe2056.d8cd7","type":"function","z":"67f9a36c.f4a1fc","name":"Step","func":"var x = env.get(\"Step\"); \nflow.set(\"$parent.Step\", x);\n\nmsg.payload = \"Your brightness increment has been set to: \" + x;\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":80,"wires":[[]]},{"id":"c6ad4ca8.c7fe7","type":"stoptimer","z":"8f0f695b.3405e8","duration":"15","units":"Minute","payloadtype":"num","payloadval":"0","name":"16minDueToIkeas1MinSensor","x":490,"y":200,"wires":[["a7d6d01f.baf8e"],[]]},{"id":"a7d6d01f.baf8e","type":"api-call-service","z":"8f0f695b.3405e8","name":"OFF","server":"ee8b2209.f1dc1","version":5,"debugenabled":true,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.badevaerelse_group"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":810,"y":200,"wires":[["234ba488.a96ccc"]]},{"id":"15274ce9.a49a43","type":"api-call-service","z":"8f0f695b.3405e8","name":"ONNight","server":"ee8b2209.f1dc1","version":5,"debugenabled":true,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.badevaerelse1","light.badevaerelse2"],"data":"{\"brightness\":\"10\",\"color_temp\":\"499\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":820,"y":60,"wires":[["234ba488.a96ccc"]]},{"id":"7ff5499a.8922d8","type":"switch","z":"8f0f695b.3405e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":140,"wires":[["c6ad4ca8.c7fe7","166ef4fa.631afb"],["c6ad4ca8.c7fe7"]]},{"id":"166ef4fa.631afb","type":"api-current-state","z":"8f0f695b.3405e8","name":"Already On?","server":"ee8b2209.f1dc1","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.badevaerelse_group","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":430,"y":100,"wires":[[],["f7216323.0dd15"]]},{"id":"234ba488.a96ccc","type":"debug","z":"8f0f695b.3405e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":140,"wires":[]},{"id":"3afcdf67.21f4f","type":"server-state-changed","z":"8f0f695b.3405e8","name":"gang Motion","server":"ee8b2209.f1dc1","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.sensor_gang_philips","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":400,"wires":[["3a4b1010.fb688"]]},{"id":"8c66f9e4.62df88","type":"stoptimer","z":"8f0f695b.3405e8","duration":"1","units":"Minute","payloadtype":"num","payloadval":"0","name":"1min","x":410,"y":460,"wires":[["7b15c39b.a4671c"],[]]},{"id":"7b15c39b.a4671c","type":"api-call-service","z":"8f0f695b.3405e8","name":"OFF","server":"ee8b2209.f1dc1","version":5,"debugenabled":true,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.gang_group"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":810,"y":460,"wires":[["6dc1d096.0db1f"]]},{"id":"4944137d.25612c","type":"api-call-service","z":"8f0f695b.3405e8","name":"ONNight","server":"ee8b2209.f1dc1","version":5,"debugenabled":true,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.gang1","light.gang2"],"data":"{\"brightness\":\"10\",\"color_temp\":\"499\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":820,"y":320,"wires":[["6dc1d096.0db1f"]]},{"id":"3a4b1010.fb688","type":"switch","z":"8f0f695b.3405e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":400,"wires":[["8c66f9e4.62df88","1d376add.536905"],["8c66f9e4.62df88"]]},{"id":"1d376add.536905","type":"api-current-state","z":"8f0f695b.3405e8","name":"Already On?","server":"ee8b2209.f1dc1","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.gang_group","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":430,"y":380,"wires":[[],["e4ede346.68d88"]]},{"id":"6dc1d096.0db1f","type":"debug","z":"8f0f695b.3405e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":400,"wires":[]},{"id":"78fd2c63.e31f64","type":"server-state-changed","z":"8f0f695b.3405e8","name":"Badeværelse Motion","server":"ee8b2209.f1dc1","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.tradfri_sensor_badevaerelse","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":140,"wires":[["7ff5499a.8922d8"]]},{"id":"f7216323.0dd15","type":"time-range-switch","z":"8f0f695b.3405e8","name":"","lat":"57.0342362942967","lon":"9.859577203048321","startTime":"22:00","endTime":"06:00","startOffset":0,"endOffset":"0","x":650,"y":100,"wires":[["15274ce9.a49a43"],["fa0e0454.74b718"]]},{"id":"fa0e0454.74b718","type":"api-call-service","z":"8f0f695b.3405e8","name":"ONDay","server":"ee8b2209.f1dc1","version":5,"debugenabled":true,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.badevaerelse1","light.badevaerelse2"],"data":"{\"brightness\":\"255\",\"color_temp\":\"230\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":820,"y":140,"wires":[["234ba488.a96ccc"]]},{"id":"e4ede346.68d88","type":"time-range-switch","z":"8f0f695b.3405e8","name":"","lat":"","lon":"","startTime":"22:00","endTime":"06:00","startOffset":0,"endOffset":"0","x":650,"y":360,"wires":[["4944137d.25612c"],["d5ac91f0.7b6ad"]]},{"id":"d5ac91f0.7b6ad","type":"api-call-service","z":"8f0f695b.3405e8","name":"ONDay","server":"ee8b2209.f1dc1","version":5,"debugenabled":true,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.gang1","light.gang2"],"data":"{\"brightness\":\"255\",\"color_temp\":\"230\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":820,"y":400,"wires":[["6dc1d096.0db1f"]]},{"id":"cf65fcd7e5d7bac4","type":"api-call-service","z":"8f0f695b.3405e8","name":"Office Ceiling Lights ON","server":"ee8b2209.f1dc1","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.sonoff_1000319a9b"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1010,"y":640,"wires":[[]]},{"id":"407accab0970369e","type":"trigger","z":"8f0f695b.3405e8","name":"10min","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"10","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":830,"y":820,"wires":[["1d603c7bf524255e"]]},{"id":"1d603c7bf524255e","type":"api-call-service","z":"8f0f695b.3405e8","name":"Office Ceiling Lights OFF","server":"ee8b2209.f1dc1","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.sonoff_1000319a9b"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1010,"y":820,"wires":[[]]},{"id":"5b57b44a0710d399","type":"change","z":"8f0f695b.3405e8","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":635,"y":760,"wires":[["407accab0970369e"]],"icon":"node-red/timer.svg","l":false},{"id":"23a2ce5063f6d7a2","type":"trigger-state","z":"8f0f695b.3405e8","name":"Motion Sensor (esp_doorbell)","server":"ee8b2209.f1dc1","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.fordoer_motion","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":490,"y":660,"wires":[["5b57b44a0710d399","6a9ae881e325a854"],["407accab0970369e"]]},{"id":"78e857c92f108979","type":"change","z":"8f0f695b.3405e8","name":"ENABLE","rules":[{"t":"set","p":"payload","pt":"msg","to":"enable","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":375,"y":800,"wires":[["23a2ce5063f6d7a2","5b57b44a0710d399"]],"icon":"font-awesome/fa-toggle-on","l":false},{"id":"0503f57c68c49dc7","type":"change","z":"8f0f695b.3405e8","name":"DISABLE","rules":[{"t":"set","p":"payload","pt":"msg","to":"disable","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":375,"y":720,"wires":[["23a2ce5063f6d7a2","5b57b44a0710d399"]],"icon":"font-awesome/fa-toggle-off","l":false},{"id":"9fd93e1830bafec0","type":"switch","z":"8f0f695b.3405e8","name":"Switch","property":"payload.event.unique_id","propertyType":"msg","rules":[{"t":"eq","v":"90:fd:9f:ff:fe:8c:e6:e0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":860,"wires":[["e468fc30ee3420bb","1c133b8aa4686df1"]]},{"id":"e468fc30ee3420bb","type":"switch","z":"8f0f695b.3405e8","name":"","property":"payload.event.event","propertyType":"msg","rules":[{"t":"eq","v":"2002","vt":"str"},{"t":"eq","v":"5002","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":700,"wires":[["78e857c92f108979"],["0503f57c68c49dc7"]]},{"id":"791589442d6fd6fa","type":"server-events","z":"8f0f695b.3405e8","name":"","server":"b56eec32.135088","version":1,"event_type":"deconz_event","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":100,"y":760,"wires":[["9fd93e1830bafec0"]]},{"id":"9befaf541fa9078f","type":"comment","z":"8f0f695b.3405e8","name":"Kontor (sensor): update the switch id to the mac address of your switch","info":"","x":450,"y":920,"wires":[]},{"id":"1c133b8aa4686df1","type":"debug","z":"8f0f695b.3405e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":860,"wires":[]},{"id":"6a9ae881e325a854","type":"time-range-switch","z":"8f0f695b.3405e8","name":"","lat":"57.0342966742345","lon":"9.859570396436487","startTime":"06:00","endTime":"03:00","startOffset":0,"endOffset":0,"x":730,"y":640,"wires":[["cf65fcd7e5d7bac4"],[]]},{"id":"4934462481d16918","type":"inject","z":"8f0f695b.3405e8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"msg","x":580,"y":260,"wires":[["fa0e0454.74b718"]]},{"id":"8540f222.19091","type":"api-call-service","z":"23c58850.213378","name":"TændJumpstartLader","server":"ee8b2209.f1dc1","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.on_off_plug_in_unit_3","switch.on_off_plug_in_unit_28"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":160,"wires":[["581fa28.1a0335c"]]},{"id":"769726ed.ce2fa8","type":"api-call-service","z":"23c58850.213378","name":"SlukJumpstartLader","server":"ee8b2209.f1dc1","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.on_off_plug_in_unit_3","switch.on_off_plug_in_unit_28"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":720,"y":240,"wires":[["581fa28.1a0335c"]]},{"id":"941d531a.9ebc3","type":"cronplus","z":"23c58850.213378","name":"Turn ON Jumpstart Lader","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"Every1m","topic":"Every1m","payloadType":"str","payload":"on","expressionType":"cron","expression":"00 23 * * MONL  ","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":210,"y":160,"wires":[["38c982c6.bfafce"]]},{"id":"69f0bd21.290e84","type":"cronplus","z":"23c58850.213378","name":"Turn OFF Jumpstart Lader","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"Every1m","topic":"Every1m","payloadType":"str","payload":"off","expressionType":"cron","expression":"00 12 01 * ?","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":220,"y":240,"wires":[["38c982c6.bfafce"]]},{"id":"38c982c6.bfafce","type":"switch","z":"23c58850.213378","name":"On or Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":460,"y":200,"wires":[["8540f222.19091"],["769726ed.ce2fa8"]]},{"id":"581fa28.1a0335c","type":"debug","z":"23c58850.213378","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":200,"wires":[]},{"id":"bf46ce31.9e55b","type":"api-call-service","z":"23c58850.213378","name":"TændPoolPump","server":"ee8b2209.f1dc1","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.on_off_plug_in_unit_31"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":700,"y":380,"wires":[["ee2c06a3.d38048"]]},{"id":"4e2ceb10.8f29b4","type":"api-call-service","z":"23c58850.213378","name":"SlukPoolPump","server":"ee8b2209.f1dc1","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.on_off_plug_in_unit_31"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":700,"y":460,"wires":[["ee2c06a3.d38048"]]},{"id":"203c3e7.d1392c2","type":"cronplus","z":"23c58850.213378","name":"Turn ON Pool Pump","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"EveryDay","topic":"EveryDay","payloadType":"str","payload":"on","expressionType":"cron","expression":"0 0 06 * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":200,"y":380,"wires":[["e5ab337b.b915f"]]},{"id":"5a67bc2d.36fde4","type":"cronplus","z":"23c58850.213378","name":"Turn OFF Pool Pump","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"EveryDay","topic":"EveryDay","payloadType":"str","payload":"off","expressionType":"cron","expression":"0 0 23 * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":200,"y":460,"wires":[["e5ab337b.b915f"]]},{"id":"e5ab337b.b915f","type":"switch","z":"23c58850.213378","name":"On or Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":460,"y":420,"wires":[["bf46ce31.9e55b"],["4e2ceb10.8f29b4"]]},{"id":"ee2c06a3.d38048","type":"debug","z":"23c58850.213378","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":420,"wires":[]},{"id":"d599658fb25b9d33","type":"poll-state","z":"23c58850.213378","name":"Battery Level","server":"81a8849.12fa778","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"30","updateIntervalType":"num","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.frederik_iphone_battery_level","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":170,"y":620,"wires":[["4aaa168ab565ef51"]]},{"id":"4aaa168ab565ef51","type":"switch","z":"23c58850.213378","name":"Check battery level","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"40","vt":"str"},{"t":"gt","v":"99","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":420,"y":620,"wires":[["21e64ffe47f4df53"],["49cef1a23e5db447"]]},{"id":"21e64ffe47f4df53","type":"api-call-service","z":"23c58850.213378","name":"On","server":"81a8849.12fa778","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.ladersamsungs20ultra"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":660,"y":580,"wires":[[]]},{"id":"49cef1a23e5db447","type":"api-call-service","z":"23c58850.213378","name":"Off","server":"81a8849.12fa778","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.ladersamsungs20ultra"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":660,"y":640,"wires":[[]]}]